* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-green: hsl(148, 38%, 91%);
    --green: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --medium-grey: hsl(186, 15%, 59%);
    --dark-grey: hsl(187, 24%, 22%);
}

body{
    background-color: var(--light-green);
    min-height: 100vh;
    font-family: 'Karia', sans-serif;
    display: grid;
    place-content: center;
}

label {
    color: var(--dark-grey);
}

input[type='text'], input[type='email'], textarea {
    width: 100%;
    padding: .5rem;
    margin-top: .5rem;
    font-family: inherit;
    border: 1px solid var(--medium-grey);
    border-radius: .35rem;
}


.contact-form {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
}